<div class="container">
    <div class="jumbotron">
        <h1>Eat Da Burger</h1>

        <h3> I know you're hungry! Tell me what burger you would like to eat! Or click on one that's already been
            created on the left!</h3>
    </div>
    <div class="row">
        <div class="col-4" id="burgers">
            {{!-- burgers to eat go here --}}
        </div>

        <div class="col-4 offset-4" id="devoured">
            {{!-- burgers that have been devoured go here --}}
        </div>
    </div>
    <div class="row">
        <div class="col-4 offset-4">
            <textarea name="newBurger" id="newBurger" cols="5" rows="15"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-2 offset-5">
            <button id="submit">Submit</button>
        </div>
    </div>
</div>