.fas {
  color: #743f19;
  border: #6ecc3f 1px solid;
  background-color: black;
  padding: 8px;
  margin-top: 3px;
}

h1 {
  color: #995a42;
}

hr {
  color: #ff0817;
  background-color: #ff0817;
}

.jumbotron {
  background-color: #221c15;
  color: white;
}

#title {
  color: white;
}

body {
  background-color: #221c15;
  color: #ffa508;
}

#submitBurger {
  color: #6ecc3f;
  border: #ffa508 1px solid;
  background-color: black;
  padding: 5px;
  margin-bottom: 20px
}

#newBurger {
    margin-top: 10px
}